/*  ----------------------------------Navigation bar CSS ---------------------------------- */
.nav-link:hover {
    background-color: #a5b6c7;
    color: white !important;
    border-radius: 10px;
}

.navbar-brand {
    margin-right: 10px; /* Increase distance between icon and first nav item */
    margin-left: 10px;
}

.navbar-nav .nav-item {
    margin-left: 10px; /* Increase distance between navigation items */
}


/*  ----------------------------------Homepage CSS ---------------------------------- */
.wide-image {
    width: 100%;
    height: auto;
    /* Remove max-height to ensure the image uses the full width */
}

.image-container {
    position: relative;
    margin-top: 20px;
}

.image-text-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #f1f1f1;
    padding: 10px;
    font-size: 3em;
}

.introduction {
    margin-top: 30px;
    font-size: 1.25em;
    line-height: 1.6;
    color: #333;
}


/*  ----------------------------------Safety insights CSS ---------------------------------- */
.dropdown-container {
    margin-top: 20px; /* Reduce top margin to decrease blank space */
    margin-left: 60px;
    width: 300px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 40px; /* Add gap between the cards */
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box; /* Ensure padding does not affect the container's size */
    height: 800px;
}

.card {
    flex: 1 1 calc(50% - 20px); /* Use calc to handle space with gap */
    min-width: calc(50% - 20px); /* Ensure each card takes up half width minus gap */
}

