{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block container_class %}container mt-4{% endblock %}
{% block content %}
    <div class="image-container">
        <img src="{{ url_for('static', filename='homepage.png') }}" alt="Biking in Melbourne" class="wide-image">
        <div class="image-text-overlay">
            Welcome to the BikeSafe in Melbourne
        </div>
    </div>
    <p class="introduction">As the climate crisis intensifies and environmental awareness grows, there is a compelling shift towards sustainable transportation. In Melbourne,
        the need for improved urban planning is critical to ensure safe, affordable, and green living conditions. Cycling emerges as a clean and healthy mode of commuting,
        offering numerous benefits for both individuals and the environment. However, safety concerns, stemming from heavy traffic and inadequate infrastructure, discourage
        many potential cyclists.<br>
        Cycling significantly reduces greenhouse gas emissions and helps mitigate air pollution, contributing to cleaner air and a healthier environment. It also reduces traffic
        congestion, making urban areas more accessible and less crowded. For individuals, cycling is an excellent form of exercise that improves cardiovascular health, boosts
        mental well-being, and enhances overall fitness.
    </p>
    <div class="image-container">
        <img src="{{ url_for('static', filename='accidents.jpg') }}" alt="Biking accidents in Melbourne" class="wide-image">
    </div>
    <p class="introduction">
        However, safety concerns, stemming from heavy traffic and inadequate infrastructure, discourage many potential cyclists.
        Addressing these safety issues is crucial for encouraging more Victorians to embrace cycling as a reliable and eco-friendly alternative. By prioritizing safety
        insights and implementing strategic improvements, we can create a safer, more inviting environment for cyclists across Melbourne.
    </p>
{% endblock %}
