{% extends "base.html" %}
{% block title %}Safety Insights{% endblock %}
{% block container_class %}container-fluid mt-4{% endblock %}
{% block content %}
    <div class="dropdown-container">
        <label for="region-select">Region</label>
        <select id="region-select" class="form-control">
            <option>Regions in Melbourne</option>
            <!-- Add more options here -->
        </select>
    </div>

    <div class="cards-container">
        <div class="card">
            <div class="card-header">
                Choropleth Map
            </div>
            <div class="card-body">
                <p>Content for Choropleth Map is here.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Cyclist Accident Bar Chart
            </div>
            <div class="card-body">
                <p>Content for Bar Chart is here.</p>
            </div>
        </div>
    </div>
{% endblock %}